:root {
    --white : white;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: calc( 100vh - 20px );
    border: 10px solid var( --white);
    font-size: 16px;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
    
    height: 100%;
}

h1 {
    color: var( --white);
    letter-spacing: 0.04em;
}

#clock {
    color: var( --white);
    margin-bottom: 18px;
    font-size: 2em;
}

.btn-group {
    display: inherit;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    max-width: 176px;
    padding: 8px 1px;
    border: 2px solid var( --white);
    color: var( --white);
    font-size: 15px;
    letter-spacing: 0.05em;
    background: transparent;
    margin: 1px;
    cursor: pointer;
    transition: .2s background-color ease-in;
}

button:focus, button:hover {
    background: #F45B69;
}


button[disabled]{
    opacity: 0.1;
}

.btn-hidden {
    display: none;
}

audio{
    /* visibility: hidden;
    height: 0; */
}