html, body {
    margin: 0;
    padding: 0;
}

body {
    height: calc( 100vh - 20px );
    border: 10px solid white;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
    
    height: 100%;
}


h1 {
    color: white;
    font-family: sans-serif;
}

#clock {
    color: white;
    font-family: sans-serif;
    margin-bottom: 18px;
}